* {
  margin: 0%;
  padding: 0%;
}

@font-face {
  font-family:conforta;
  src: url();

}


body {
  background: black;
  font-family: conforta;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background: black;
  color: white;
}
nav h1 {
  font-size:30px;
}
.div-logo {
  display: flex;
  align-items: center;
}
.div-logo img {
  height: auto;
  width: 90px;
}
 a li:hover {
  /* display: flex;
  align-items: center; */
  background-color: #2A9DA2;
  /* height:100px; */
  padding: 40px 29px;  

  
}
.div-lista ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 100%;
  font-size: 20px;

}
.div-lista ul a {
  text-decoration:none;
  color: white;
}

.div-lista > ul > li {
  padding: 10px;
  /* height: 100%; */
  /* display: flex;
  align-items: center; */
}

.div-text {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: conforta;
  padding: 50px;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  border: solid 3px #D6C0AC;
  background-color: rgba(0, 0, 0, 0.267)
}
.ativo {
  background-color: #2A9DA2;
  padding: 40px 29px;  
  /* height: 100px; */
}
main{
  background-image: url("../img/LAYOUT1.png");
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-lista {
  display: flex;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  
}
footer {
  display: flex;
  justify-content: space-around;
}
.footer-lista ul {
  list-style-type: none;
  padding-top: 5px;
 
}
footer img {
  width: auto;
  height: 40px;
  padding-top: 5px;
  padding: 5px;
}
.footer-rede {
  padding-top: 5px;
}
.menu-icon {
  display: none;
  width: 50px;
  height: auto;
  position: absolute;
  top: 50px;
  right: 50px;
}
@media screen and ( max-width: 768px) {
  .mobile {
    display: flex;
  }

}
.desktop {
  display: none;
}